@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sl-content-width: 50rem;
    color-scheme: dark;

    a, a:hover {
        text-decoration: none;
    }

    .sidebar-content .group-label {
         text-transform: capitalize;
     }
}